@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebAPI Example</h1>
    <p>This app was developed to show a good example of interaction between frontend and backend consuming a WebAPI.</p>
    <p>We used .NET Core with C# in both solutions (front and back). In case of Front was built with MVC ASP.NET Core.</p>
    <p>Learn about this <a href="https://github.com/AndPutz/AppExample">Project</a>. 
        It is a simple app for manipulate <strong>Objects</strong> data, that could be anything and their <strong>Relations</strong> between others objects. 
    </p>   
    <p>So the tecnology showed here its simple, but we find in big or commercial solutions.</p>
</div>
